<%- include('partials/header') %>
<div class="ui main text container segment">
    <div class="ui huge header">OOOOOOOPS!!!!</div>
    <div class="ui top attached ">
        <div class="item">
            <img class="ui centered rounded image"  src=''>
            <div class="content" style="color: darkblue;">
                <span></span>
            </div>
            <div class="description">
                <p>
                This may be due to jikan api being down come back later when it starts working....(it's free that's why)
                </p>
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
