<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/landing.css" type="text/css">
    <title>ANIMr</title>
</head>
<body >
    <div id="landing-header">
        <h1>WELCOME TO ANIMr</h1>
        <a href="/anim" class=" btn btn-lg btn-success">SEE ALL ANIMS </a>
        <p style="color: white;">THIS WEBSITE IS NOT OPTIMISED FOR MOBILE DEVICES</p>
    </div>
    <ul class="slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</body>
</html>