<%- include('partials/header') %>
<div class="ui main text container segment">
    <div class="ui huge header">WHAT's in?</div>
    <div class="ui top attached ">
        <div class="item">
            <img class="ui centered rounded image"  src=''>
            <div class="content" style="color: darkblue;">
                <span></span>
            </div>
            <div class="description">
                <p>
                    This site uses the free <strong>JIKAN API </strong>and for backend uses NODEJS, ui elements from SemanticUI, background from uigradients(they are very good) 
                </p>
            </div>
        </div>
    </div>
</div>


<%- include('partials/footer') %>
